@media all and (max-width: 1000px) {
  
}

@media all and (min-width: 670px){
.navigasi a:hover{
	color: #0082e6;
}
.navigasi li:hover::after{
	content:'';
	border-bottom: 2px solid #0082e6;
	display:block;
	width:50%;
	margin:0 auto;
	padding-bottom: 5px;
	margin-bottom:-7px;
	
}
.navigasi li{
	padding:0 20px;
	float:right;
}
}

@media all and (max-width: 670px){
 .kirilogo{
	float:left;
	font-size:25px;
	color:white;
	line-height:65px;
	margin-left:25px;
 }	
 .checkbtn{
    display: block;
    margin-right: 40px;
 }
 
 .navigasi ul{
    position: fixed;
    width: 100%;
    height: 150vh;
    background: rgba(26, 35, 126,0.9);
    top: 48px;
    left: -100%;
    transition: all .5s;
  }
  .navigasi ul li{
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  .navigasi ul li a{
    font-size: 20px;
  }
  a:hover{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .navigasi ul{
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    overflow: hidden; 
    width: 100%; 
    margin: 0 auto;
    }
  }
