/* Untuk Tablets */
@media (max-width: 1000px) {
  .slide {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 670px ) {
  /* Ubah width milik lesson ke 100% */
.slide {
  width: 100%;
}
