/* Untuk Tablets */
@media all and (max-width: 1000px) {
  .slide {
    width: 50%;
    margin-bottom: 50px;
  }
  .profil-list {
    width : 40%;
  }
}

/*untuk smartphone*/
@media all and (max-width: 670px ) {
   .header-right {
   display: none;
  }
  .menu-icon {
   display:block;
  }
.slide {
  width: 100%;
  }
 .profil-list {
   width: 60%;
}
}
