*{
	box-sizing:border-box;
}

body{
	margin:0;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}

.clear{
	clear=left;
}

.container{
	max-width:1170px;
	width:100%;
	padding: 0 15px;
	margin: 0 auto;
}
li{
	list-style:none;
}
header{
	background-color:rgba(34, 49, 52,0.9);
	height:65px;
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
}

.kirilogo {
	float:left;
	width:25px;
	font-size: 25px;
	color:white;
	padding: 10px;
}
.navigasi li{
	padding:0 20px;
}
.navigasi ul{
	float:right;
	transition: all 0.5s:
}

.navigasi a{
	font-size: 20px;
	font-weight: 500;
	margin-top:5px;
	color:white;
	display:block;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 65px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}



/* Slideshow */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { 
  margin: 0; 
} 

.slider { 
  overflow: hidden; 
}

.slider figure img { 
  margin-top: 60px;
  width: 20%; 
  float: left; 
}

.slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}


/* Profil tim e20 */
.profils {
  display: flex;
  background-color: yellow;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.profil-list {
  background-color:red;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 15%;
  height: auto;
}
/**/
.copyright {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}


/* footer ditulis 2 kali*/
footer {
  background-color: green;
  border-radius: 5px;
}


.profil-item img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgb(255, 204, 255);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.myprofil {
  text-align: center;
}
.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.profil-item {
  padding: 20px;
}
.bio {
  padding: 10px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

/*footer*/
.footer {  
  background-color: green;
  color: #fff;
  height: 150px;
  padding: 10px; 
}

.footer-logo {
  float: left;
  font-size: 20px;
}

.footer-list {
  float: right;  
  line-height:0.2;
  font-size: 20px;
  padding-bottom: 10px;
}

/*
.footer-list p {
  font-size: 20px;
  padding-bottom: 10px;
  
}

.footer-list li {
  padding-bottom: 10px;
}
*/

.footer-list img:hover {
  background-color :darkgreen;
}

marquee {
  color :yellow;
}

.footer-logo p{
	line-height:0.5;
}
